
* {
    box-sizing: border-box;

}
body {
    height: 100vh;
    font-size: 16px;
    background: #6b0fc1;
}

h1 {
    font-size: 65px;
    color: #ffa500;
    font-family: sans-serif;
    text-align: center;
}

p {
    font-weight: 600;
    color: rgb(52, 52, 52);
    font-size: 3em;
    text-align: center;
}

ul {
    text-decoration: underline;
    color: #060606f4;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.amarelo:hover,
.azul:hover,
.verde:hover {
    font-size: 3em;
}

.background {
    background:#5b6fde;
}

.verde { 
    background: #61fe61;
}

.azul {
    background: #2641f4;
}

.amarelo {
    background: #d4d402;
} 
